<div>
  <h1>ngProducts</h1>
  <hr>
  <div>
    <form (submit)="addProductFromService()">
      <label>Name: <input type="text" name="newProduct.name" [(ngModel)]="newProduct.name" placeholder="Product Name"></label>
      <label>Brand: <input type="text" name="newProduct.brand" [(ngModel)]="newProduct.brand" placeholder="Product Brand"></label>
      <label>Category: <input type="text" name="newProduct.category" [(ngModel)]="newProduct.category" placeholder="Product Category"></label>
      <label>Details: <input type="text" name="newProduct.details" [(ngModel)]="newProduct.details" placeholder="Product Details"></label>
      <input type="submit" value="Submit Product">
    </form>
  </div>
</div>
<div>
  <div><button [routerLink]="['/product']">Get Products</button> </div>

  <router-outlet></router-outlet>
</div>
